{% extends "pages/base.html" %}

{% load static %}

{% block content %}

<div class="container">

  <div style="float:right;">


      {% include "shoppcart/widget.html" %}

  </div>

  <div class="row justify-content-center">

    {% for product in products %}

      <div class="col-md-4 mt-4 mb-4">

        <div class="card h-100">

          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">

          <div class="card-body text-center">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price }}&nbsp;€</p>
          </div>

          <div class="card-footer text-center">
              <a href="{% url 'shoppcart:add' product.id %}" class="btn btn-success">Add to shopping cart</a>
          </div>

        </div>

      </div>

    {% endfor %}

  </div>

</div>

{% endblock %}

